In [ ]:
'''Note : Run this code cell only once for a project

%cd "/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System"

#If you have kaggle.json file inside your above path then run below commands
#else: add the kaggle.json file in the above path and then move ahead.

!mkdir -p /root/.kaggle 
!mv kaggle.json "/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System"
!chmod 600 /root/.kaggle/kaggle.json

#Note : Above lines of code are common for any type of project.
#Now you need "API Command of kaggle dataset" for that go to kaggle and get the API COmmand for that dataset
#And run it below. Like this...

!kaggle datasets download -d rounakbanik/the-movies-dataset
!unzip -q the-movies-dataset.zip 

'''

'Note : Run this code cell only once for a project\n\n%cd "/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System"\n\n#If you have kaggle.json file inside your above path then run below commands\n#else: add the kaggle.json file in the above path and then move ahead.\n\n!mkdir -p /root/.kaggle \n!mv kaggle.json "/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System"\n!chmod 600 /root/.kaggle/kaggle.json\n\n#Note : Above lines of code are common for any type of project.\n#Now you need "API Command of kaggle dataset" for that go to kaggle and get the API COmmand for that dataset\n#And run it below. Like this...\n\n!kaggle datasets download -d rounakbanik/the-movies-dataset\n!unzip -q the-movies-dataset.zip \n\n'

In [ ]:
%cd "/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System"

/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System

-----------      Overview Of Dataset          ----------------

the-movies-dataset

|_______credits.csv

|_______keywords.csv

|_______links.csv

|_______links_small.csv

|_______movies_metadata.csv

|_______ratings.csv

|_______ratings_small.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

In [ ]:
credits = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/credits.csv")

In [ ]:
credits.shape

(45476, 3)

In [ ]:
credits.head(10)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862
5  [{'cast_id': 25, 'character': 'Lt. Vincent Han...  ...    949
6  [{'cast_id': 1, 'character': 'Linus Larrabee',...  ...  11860
7  [{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...  ...  45325
8  [{'cast_id': 1, 'character': 'Darren Francis T...  ...   9091
9  [{'cast_id': 1, 'character': 'James Bond', 'cr...  ...    710

[10 rows x 3 columns]

In [ ]:
credits["crew"][:1]

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
Name: crew, dtype: object

In [ ]:
credits["cast"][:1]

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
Name: cast, dtype: object

In [ ]:
keywords = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/keywords.csv")

In [ ]:
keywords.shape

(46419, 2)

In [ ]:
keywords[:10]

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5    949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6  11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7  45325                                                 []
8   9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9    710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...

In [ ]:
keywords["keywords"][:1]

0    [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
Name: keywords, dtype: object

In [ ]:
links = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/links.csv")

In [ ]:
links.shape

(45843, 3)

In [ ]:
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [ ]:
links_small = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/links_small.csv")

In [ ]:
links_small.shape

(9125, 3)

In [ ]:
movies_metadata = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/movies_metadata.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
movies_metadata.shape

(45466, 24)

In [ ]:
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
movies_metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
ratings = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/ratings.csv")

In [ ]:
ratings.shape

(26024289, 4)

In [ ]:
ratings.head(10)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

In [ ]:
ratings_small = pd.read_csv("/content/drive/My Drive/ML-DL-NLP-Projects/Movie-Recommender-System/ratings_small.csv")

In [ ]:
ratings_small.shape

(100004, 4)

-----------      Overview Of Dataset          ----------------

the-movies-dataset

|_______**credits.csv** [ cast, crew, id ]
      
|_______**keywords.csv** [ id,	keywords ]

|_______**links.csv**  [	movieId, imdbId,	tmdbId ]

|_______**movies_metadata.csv** [ 'adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count' ]

|_______**ratings.csv** [ userId,	movieId,	rating. timestamp ]

In [ ]:
print(credits.columns)
print(keywords.columns)
print(links.columns)
print(movies_metadata.columns)
print(ratings.columns)

Index(['cast', 'crew', 'id'], dtype='object')
Index(['id', 'keywords'], dtype='object')
Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [ ]:
# ratings innerjoin links on moviesid
merge_df = pd.merge(left=ratings,right=links,left_on='movieId',right_on='movieId')

In [ ]:
merge_df

          userId  movieId  rating   timestamp   imdbId    tmdbId
0              1      110     1.0  1425941529   112573     197.0
1             11      110     3.5  1231676989   112573     197.0
2             22      110     5.0  1111937009   112573     197.0
3             24      110     5.0   979870012   112573     197.0
4             29      110     3.0  1044020005   112573     197.0
...          ...      ...     ...         ...      ...       ...
26024284  270887   159050     5.0  1472697413   289390  126076.0
26024285  270887   159053     5.0  1486961830   487156   56491.0
26024286  270887   165649     4.0  1479088587  3731196  302042.0
26024287  270887   171051     4.0  1493084042   176326   23476.0
26024288  270887   171221     5.0  1493040473  4287348  380754.0

[26024289 rows x 6 columns]

In [ ]:
merge_df2 = pd.merge(left=keywords,right=credits,left_on='id',right_on='id')

In [ ]:
merge_df2

           id  ...                                               crew
0         862  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        8844  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2       15602  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3       31357  ...  [{'credit_id': '52fe44779251416c91011acb', 'de...
4       11862  ...  [{'credit_id': '52fe44959251416c75039ed7', 'de...
...       ...  ...                                                ...
46491  439050  ...  [{'credit_id': '5894a97d925141426c00818c', 'de...
46492  111109  ...  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
46493   67758  ...  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
46494  227506  ...  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
46495  461257  ...  [{'credit_id': '593e676c92514105b702e68e', 'de...

[46496 rows x 4 columns]

In [ ]:
# copy of original movies_metadata to query columns and access them even if the duplicate is going to be modified for making a combined csv
movies_metadata1 = movies_metadata

In [ ]:
# Now we need to make movies_metadata1 free from non-important feature columns

movies_metadata1 = movies_metadata1.drop(columns=['original_title','budget','revenue','overview','homepage','poster_path','production_companies','production_countries','spoken_languages','status','tagline','video'])

In [ ]:
movies_metadata1

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 12 columns]

In [ ]:
merge_df2['id'] = merge_df2['id'].astype('str')

In [ ]:
merge_df12 = pd.merge(left=movies_metadata1,right=merge_df2,left_on='id',right_on='id')

In [ ]:
merge_df12

       adult  ...                                               crew
0      False  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1      False  ...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2      False  ...  [{'credit_id': '52fe466a9251416c75077a89', 'de...
3      False  ...  [{'credit_id': '52fe44779251416c91011acb', 'de...
4      False  ...  [{'credit_id': '52fe44959251416c75039ed7', 'de...
...      ...  ...                                                ...
46623  False  ...  [{'credit_id': '5894a97d925141426c00818c', 'de...
46624  False  ...  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
46625  False  ...  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
46626  False  ...  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
46627  False  ...  [{'credit_id': '593e676c92514105b702e68e', 'de...

[46628 rows x 15 columns]

#1. Simple Recommender Systems

-> It offers generalized recommendations to every user based on popularity and/or genre

-> Ex. IMDB TOP 250 movies

In [ ]:
# Weighted Average(WR) = [(v.R)/(v+m)]+[(m.C)/(v+m)]

# v : It is the no. of votes for the movie (vote_count)
# R : Average rating of the movie (vote_average)
# m : It is the minimum vote required to be listed in chart
# C : Mean Vote across the whole report

In [ ]:
merge_df12.sort_values('vote_count',ascending=False)[:20]

       adult  ...                                               crew
15651  False  ...  [{'credit_id': '56e8462cc3a368408400354c', 'de...
12589  False  ...  [{'credit_id': '55a0eb4a925141296b0010f8', 'de...
14723  False  ...  [{'credit_id': '52fe48009251416c750aca23', 'de...
18008  False  ...  [{'credit_id': '52fe4495c3a368484e02b1cf', 'de...
26779  False  ...  [{'credit_id': '57e564fac3a3681beb0000cc', 'de...
23076  False  ...  [{'credit_id': '54cba75b925141678e014d1a', 'de...
20254  False  ...  [{'credit_id': '5703f6a2c3a36869850001d9', 'de...
23948  False  ...  [{'credit_id': '538ce329c3a3687155003358', 'de...
2870   False  ...  [{'credit_id': '55731b8192514111610027d7', 'de...
18434  False  ...  [{'credit_id': '52fe47edc3a368484e0e0d2d', 'de...
26768  False  ...  [{'credit_id': '53d451210e0a262841002dd1', 'de...
18442  False  ...  [{'credit_id': '52fe4781c3a36847f81398c3', 'de...
2478   False  ...  [{'credit_id': '52fe425bc3a36847f801812f', 'de...
12696  False  ...  [{'credit_id': '52fe4311c3a36847f8037f21', 'de...
21033  False  ...  [{'credit_id': '52fe47a0c3a368484e0d15cb', 'de...
4904   False  ...  [{'credit_id': '52fe421ac3a36847f80043ef', 'de...
25285  False  ...  [{'credit_id': '52fe4bf7c3a368484e1a066b', 'de...
292    False  ...  [{'credit_id': '52fe4269c3a36847f801caa3', 'de...
20174  False  ...  [{'credit_id': '52fe4783c3a36847f8139f7f', 'de...
314    False  ...  [{'credit_id': '52fe4231c3a36847f800b127', 'de...

[20 rows x 15 columns]

In [ ]:
merge_df12['vote_average']

0        7.7
1        6.9
2        6.5
3        6.1
4        5.7
        ...
46623    4.0
46624    9.0
46625    3.8
46626    0.0
46627    0.0
Name: vote_average, Length: 46628, dtype: float64

In [ ]:
C = merge_df12['vote_average'].mean()
C

5.611727865476706

In [ ]:
m = merge_df12['vote_count'].quantile(0.90)
m

156.0

In [ ]:
topq_movies = merge_df12.copy().loc[merge_df12['vote_count']>=m]
print(topq_movies.shape)

(4680, 15)

In [ ]:
merge_df12.shape

(46628, 15)

In [ ]:
# i.e 10 % movies are getting vote count of 156 or above
# now we need to find the Weighted Rating of each qualified movie

def WeightedRating(x,m=m,C=C):
  v = x['vote_count']
  R = x['vote_average']
  return ((v/v+m)*R )+ ((m/v+m)*C)

In [ ]:
# Now we are making another column field in the qualified movies' dataframe which will have the WeightedRating score.
topq_movies['wr_score'] = topq_movies.apply(WeightedRating, axis=1)
topq_movies

       adult  ...     wr_score
0      False  ...  2084.491215
1      False  ...  1959.092344
4      False  ...  1775.389833
5      False  ...  2084.793720
8      False  ...  1743.960751
...      ...  ...          ...
46337  False  ...  1961.431490
46340  False  ...  1556.000982
46367  False  ...  1992.357103
46421  False  ...  2058.049018
46505  False  ...  1508.671640

[4680 rows x 16 columns]

In [ ]:
movies_metadata.tail(10)

       adult belongs_to_collection budget  ...  video vote_average vote_count
45456  False                   NaN      0  ...  False          6.3        8.0
45457  False                   NaN      0  ...  False          7.0        2.0
45458  False                   NaN      0  ...  False          7.0        1.0
45459  False                   NaN      0  ...  False          3.5        1.0
45460  False                   NaN      0  ...  False          5.7       26.0
45461  False                   NaN      0  ...  False          4.0        1.0
45462  False                   NaN      0  ...  False          9.0        3.0
45463  False                   NaN      0  ...  False          3.8        6.0
45464  False                   NaN      0  ...  False          0.0        0.0
45465  False                   NaN      0  ...  False          0.0        0.0

[10 rows x 24 columns]

In [ ]:
#RESULTS OF SIMPLE RECOMMENDER SYSTEM 
#sorting the topq_movies in descending order of their 'wr_score'

topq_movies= topq_movies.sort_values('wr_score', ascending=False)
topq_movies[['title','vote_count','vote_average','wr_score']].head(20)

                                 title  vote_count  vote_average     wr_score
10397      Dilwale Dulhania Le Jayenge       661.0           9.1  2305.453949
40253                     Planet Earth       176.0           8.8  2262.003579
41418                       Your Name.      1030.0           8.5  2210.779479
841                      The Godfather      6024.0           8.5  2210.074871
314           The Shawshank Redemption      8358.0           8.5  2210.034289
45842    Black Mirror: White Christmas       211.0           8.3  2182.678502
1205       Once Upon a Time in America      1104.0           8.3  2179.322509
1197                            Psycho      2405.0           8.3  2178.893551
1173   One Flew Over the Cuckoo's Nest      3001.0           8.3  2178.821260
1199            The Godfather: Part II      3418.0           8.3  2178.785670
2231                 Life Is Beautiful      3643.0           8.3  2178.769852
5529                     Spirited Away      3968.0           8.3  2178.750169
23868                         Whiplash      4376.0           8.3  2178.729599
522                   Schindler's List      4436.0           8.3  2178.726894
292                       Pulp Fiction      8670.0           8.3  2178.630519
2870                        Fight Club      9678.0           8.3  2178.620003
12589                  The Dark Knight     12269.0           8.3  2178.600900
6902        The Passion of Joan of Arc       159.0           8.2  2168.335393
6563                       Tokyo Story       190.0           8.2  2167.437071
3216                       City Lights       444.0           8.2  2164.801235

#2. Content Based Recommender System

-> It suggests similar items based on a particular item. This system makes use of metadata such as genre, director, description, actor, etc. 

-> Idea is, if a person likes a particular item, he or she will also like an item which is similar to it.

`a.) Content Based Movie Recommender Using Movie Overviews`

In [ ]:
movies_metadata['overview'].head(10)

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
5    Obsessive master thief, Neil McCauley leads a ...
6    An ugly duckling having undergone a remarkable...
7    A mischievous young boy, Tom Sawyer, witnesses...
8    International action superstar Jean Claude Van...
9    James Bond must unmask the mysterious head of ...
Name: overview, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')

movies_metadata['overview'] = movies_metadata['overview'].fillna('')

tfidf_matrix = tfidf.fit_transform(movies_metadata['overview'])

tfidf_matrix

<45466x75827 sparse matrix of type '<class 'numpy.float64'>'
	with 1210882 stored elements in Compressed Sparse Row format>

In [ ]:
tfidf_matrix.shape

(45466, 75827)

In [ ]:
tfidf.get_feature_names()[5000:5050]

['avails',
 'avaks',
 'avalanche',
 'avalanches',
 'avallone',
 'avalon',
 'avant',
 'avanthika',
 'avanti',
 'avaracious',
 'avarice',
 'avaricious',
 'avatar',
 'avatars',
 'avati',
 'avdhoot',
 'ave',
 'avec',
 'avedon',
 'aveleda',
 'avenge',
 'avenged',
 'avenger',
 'avengers',
 'avenges',
 'avenging',
 'avenue',
 'avenues',
 'average',
 'averaged',
 'averaging',
 'averback',
 'avere',
 'averell',
 'averill',
 'averroes',
 'averse',
 'aversion',
 'avert',
 'averted',
 'averting',
 'averts',
 'avery',
 'avetik',
 'avett',
 'aveugle',
 'aveyron',
 'avgÃ¥ende',
 'avi',
 'avian']

In [ ]:
# Now, we need to calculate the similarity score on the basis of tfidf matrix created using the overview column field of movies_metadata
# Here, we are using the linear_kernel function of sklearn which carries out vectorized cosine_similarity 

from sklearn.metrics.pairwise import linear_kernel

In [ ]:
#NOTE : The below line is the reason why the recommender will not be able to recommend movies for indices greater than 100 as the colan crashes and all the output gets flushed and runtime is started again.
cosine_similarities = linear_kernel(tfidf_matrix[0:100],tfidf_matrix)

In [ ]:
cosine_similarities[0]

array([1.        , 0.01504121, 0.        , ..., 0.        , 0.00595453,
       0.        ])

In [ ]:
indices = pd.Series(movies_metadata.index, index=movies_metadata['title']).drop_duplicates()

In [ ]:
indices[:100]

title
Toy Story                         0
Jumanji                           1
Grumpier Old Men                  2
Waiting to Exhale                 3
Father of the Bride Part II       4
                                 ..
La Haine                         95
Shopping                         96
Heidi Fleiss: Hollywood Madam    97
City Hall                        98
Bottle Rocket                    99
Length: 100, dtype: int64

In [ ]:
def suggest_me_movies(title, cosine_similarities=cosine_similarities):
  # It finds the index of the movie title which you will enter
  index = indices[title] 

  # Get the similarity score of all the movies with your movie
  similarity_scores = list(enumerate(cosine_similarities[index]))

  # Sorting the movies based on similarity scores in descending order
  similarity_scores = sorted(similarity_scores,key = lambda x:x[1], reverse=True )

  # Get the scores of the top 10 similar movies to your movie
  similarity_scores = similarity_scores[1:11]

  # Get the indices of the movies with highest similarities
  movie_indices = [i[0] for i in similarity_scores]

  return movies_metadata['title'].iloc[movie_indices]

In [ ]:
indices['Jumanji']

1

In [ ]:
suggest_me_movies('Jumanji')

21633         Table No. 21
45253                 Quiz
41573         Snowed Under
35509             The Mend
44376    Liar Game: Reborn
17223       The Dark Angel
8801               Quintet
6166             Brainscan
30981         Turkey Shoot
9503             Word Wars
Name: title, dtype: object

#b.) Content Based Recommender Using Actors, Directors, Keywords and Genres

For this we need to merge keywords, metadata and credits. But we have already done that and all the merged data is under merge_df12

In [ ]:
merge_df12.head(1)

   adult  ...                                               crew
0  False  ...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...

[1 rows x 15 columns]

As the cast, crew and keywords are all stringified inside a list hence we need to first de-stringify them.

In [ ]:
from ast import literal_eval

features = ['cast','crew','keywords','genres']
for feature in features:
  merge_df12[feature] = merge_df12[feature].apply(literal_eval)

In [ ]:
def get_director(x):
  for i in x:
    if i['job']=='Director':
      return i['name']

  return np.nan

def get_list(x):
  if isinstance(x,list):
    names = [i['name'] for i in x]
    #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
    if len(names) > 1:
      names = names[:3]
      return names


  # else return empty list in case of missing data
  return []

In [ ]:
merge_df12['director'] = merge_df12['crew'].apply(get_director)

features = ['cast','keywords','genres']
for feature in features:
  merge_df12[feature] = merge_df12[feature].apply(get_list)

In [ ]:
merge_df12[['title','cast','director','keywords','genres']].head(5)

                         title  ...                        genres
0                    Toy Story  ...   [Animation, Comedy, Family]
1                      Jumanji  ...  [Adventure, Fantasy, Family]
2             Grumpier Old Men  ...             [Romance, Comedy]
3            Waiting to Exhale  ...      [Comedy, Drama, Romance]
4  Father of the Bride Part II  ...                            []

[5 rows x 5 columns]

In [ ]:
# Function to convert all strings to lower cases and strip names of spaces

def clean_data(x):
  if isinstance(x,list):
    return [str.lower(i.replace(" ","")) for i in x]
  else:
    if isinstance(x,str):
      return str.lower(x.replace(" ",""))
    else:
      return ''

In [ ]:
feature = ['cast','keywords','director','genres']

for feature in features:
  merge_df12[feature] = merge_df12[feature].apply(clean_data)


Here for data preprocessing we are at the last step where we will be making a matrix which will have all the features combined in one record separated by space (actors director keywords)

In [ ]:
def create_a_blend(x):
  return ' '.join(x['keywords'])+' '+' '.join(x['cast'])+' '+ str(x['director'])+' '+' '.join(x['genres'])

In [ ]:
merge_df12['blend_of_features'] = merge_df12.apply(create_a_blend, axis=1)

In [ ]:
merge_df12[['blend_of_features']].head(2)

                                   blend_of_features
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

-> `Now next step is to create an object of count vectorizer which we are using instead of TF-IDf` 

-> In order to prevent the down-weighting of actors or directors if they have acted in more number of movies.

-> Major difference between countVectorizer and TF-IDF is that CountVectorizer don't have IDF component.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(merge_df12['blend_of_features'])

In [ ]:
count_matrix.shape

(46628, 72797)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarities2 = cosine_similarity(count_matrix[:1000], count_matrix)

In [ ]:
merge_df12 = merge_df12.reset_index()

indices = pd.Series(merge_df12.index, index=merge_df12['title'])

In [ ]:
suggest_me_movies('Toy Story',cosine_similarities2)

3024                                         The Two Jakes
15519                                        Winnebago Man
26001                                       Tactical Force
17551                                       The Yellow Sea
22126    Les MisÃ©rables: 10th Anniversary Concert at th...
25999                               Tad, the Lost Explorer
29198                              Seven Minutes in Heaven
27606                     The Sex and Violence Family Hour
19301                                              Beloved
19355                                            6 Bullets
Name: title, dtype: object

In [ ]:
####### NOTE :  LIMITATIONS OF THIS RECOMMENDER 
'''
IT STARTS CRASHING IF WE FEED IT more than a particular amount of movies i.e it works well for no. of movies under 1000 or 2000
'''